**/.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.bloop/
.bsp/
.devenv/
.direnv/
.idea/

project/target
project/.metals
project/.scala-build
project/.bsp

target/

.envrc
